#secao {
    width: 500px;
    height: 300px;
}

#caixa {
    width: 100%; /* Não é obrigatório escrever isto, pois por padrão já é 100% */
    padding: 30px;
    border: 10px;

    /* Descomente esta parte para ver a correção
    box-sizing: border-box;*/

/*
        O que aconteceu ? 
    R: Por padrão, as tags tem tamanho "content-box", isto é, a altura (height) e comprimento (width) são relativas somente ao conteúdo da caixa, ignorando o preenchimento (padding), borda (border) e margem (margin).
    "setar" box-sizing para "border-box" ordena que o tamanho total seja exatamente a soma desses caras.
    Mas cuidado! O padrão do HTML é enganoso!
    Se você der mais padding do que deu de comprimento, por exemplo, 
    o comprimento vai ACHATAR (shrink) até 0 e, não havendo mais espaço,
    o padding terá ainda assim o valor definindo, ocorrendo um novo OVERFLOW.

    Lembre-se que você pode inspecionar os elementos da página clicando
    com o botão direito do mouse e depois em inspecionar. Vá em "Computed/Calculado" na janela (inferior) que se abre para ver o tamanho da caixa.
    */
}


/* 
HTML é estruturado como uma árvore. Algumas propriedades CSS são herdadas automaticamente pelos elementos filhos (como color e font-family), enquanto outras não (como width e margin).

Quando usamos width: 100%, é como se fosse uma herança (valor relativo): o valor é calculado com base na largura do elemento pai.

Curiosidade: 
Em caso de conflito entre regras CSS, o navegador decide usando a cascata - especificidade, ordem e !important (uma regra absoluta que se sobrepõe a todas as demais).
*/